<h1>Weekly Summary</h1>
<%= form_tag('/weekly_summary_update') do %>
  <% @summaries.each_with_index do |row, idx| %>
    <div  style="background-color: <%= (idx % 2).odd? ? 'lightblue' : 'cornsilk' %>">
      <%= render partial: "weekly_status/wsr_row", locals: {row: row} %>
      <br>
    </div>
    <% end %>
  <div><%= submit_tag 'Save' %></div>
<% end %>
