<% flash.each do |key, value| %>
  <!-- we are only displaying errors (flash.error on access issues. All other flashes are using $.notify below -->
  <% if key == 'error' %>
    <div class="container" role="alert">
      <div id="error_explanation" class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <h3 class="usa-alert-heading"><%= key.capitalize %> </h3>
          <p><%= value %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    <% flash.each do |key, value| %>
      let type = '<%= key.eql?('notice') ? 'success' : 'danger'  %>';

      <% if key != 'error' %>
        $.notify('<%=value %>', {type: type});
      <% end %>
    <% end %>
  });
</script>
