<div>
  <h2>Landing Page</h2>
  <p>not logged in</p>
</div>
<!--

<script type="text/javascript" charset="utf-8">
    function loadReactComponent(path) {
        window.location.replace(path)
    }
    loadReactComponent('<%= mock1_path %>');
</script>
-->
