<% unless current_user %>
  <div>Landing page not logged in</div>
<% end %>

<script type="text/javascript" charset="utf-8">
    function gotoAccount(path) {
        window.location.replace(path)
    }
    <% if current_user %>
      <% if current_user.approved %>
        gotoAccount('<%= account_path %>');
      <% else %>
        gotoAccount('<%= awaiting_approval_path %>');
      <% end %>
    <% end %>
</script>
