<% unless current_user %>
  <div>Landing page not logged in</div>
<% end %>

<script type="text/javascript" charset="utf-8">
    function gotoAccount(path) {
        window.location.replace(path)
    }
    <% if current_user %>
    gotoAccount('<%= account_path %>');
    <% end %>
</script>
