<% unless current_user %>
  <div>
    <h2>Landing Page</h2>
    <p>not logged in</p>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    function gotoAccount(path) {
        window.location.replace(path)
    }
    <% if current_user %>
      gotoAccount('<%= weekly_status_path %>');
    <% end %>
</script>
