<div class="container p-4">
  <% if current_user %>
    <div>
      <h2>Welcome <%= current_user.email %></h2>
      <p>Please use the navigation menu above to enter your weekly status summaries.</p>
    </div>

  <% else %>
    <div>
      <h2>Landing Page</h2>
      <p>not logged in</p>
    </div>
  <% end %>
</div>
